.label {
  position: relative;
  top: 1vh;
  animation-name: label;
  animation-duration: 1s;
  animation-timing-function: ease;
}
@keyframes label {
  0% {
    position: relative;
    top: 6vh;
  }
  100% {
    position: relative;
    top: 1vh;
  }
}